:root{
	--spacing:20px;
}

@media (min-width: 768px){
	:root{
		--spacing:60px;
	}
}

body{
	font-family: Arial, Helvetica, sans-serif;
	padding:var(--spacing);

}

h1{
	font-size:200%;
	font-family:sans-serif;
}

header{
	margin-bottom:(var(--spacing));
}

main {
	display:flex;
	justify-content: center;

}
figure{
	/* display:flex; */
	width:100%;
	height: 75vh;
	flex-direction: column;
	gap:var(--spacing);
	justify-content:center;
	align-items: center;

}
 h4{
	color:black;
 }
figcaption{
	color: darkgray;
}

img{
	aspect-ratio: 1 / 1;
	display:block;
	background-color: rgb(231, 230, 230);
	width:60vw;
	height:30vh;
	stroke-width: 5vh;
	stroke: rgb(243, 238, 233);


}

svg{
	width: 60vw;
	height: 60vh;
	color: black;
}

#fin{
	fill: rgb(255, 0, 0);
}

ellipse{
	fill:rgb(245, 20, 219)
}

#head{
	fill: linear-gradient(black, red);
}

rect{
	fill:aqua;
}

/* .border{
	position: absolute;
	width: 50vh;
	height: 50vh;
	background: red;
	border-width: 5vh;
	border-color: rgb(183, 154, 37);


} */

.title{
	font-style:italic;
}

@media (min-width:600px){
	html{
		flex-direction: column;
	}figure{
		flex-direction:row;
	}

	img{
		width:auto;
		height:50vh;
		
	}
}