@import url(https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Open+Sans:wght@300;400&display=swap);

:root{
    --spacing: 10vw;
    --fontweight: 400;
    
}

body{
    padding: var(--spacing);
    background-color: #000000;
}

header{
    margin-bottom: calc(2 * var(--spacing));
    color:aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--fontweight);
    font-size: 5rem;
    text-align: center
}

h1{
    font-size:  3rem;
    text-align: center;
    color: darkred;
}

h2{
    font-style: italic;
    font-size:  5rem;
    text-align: center;
}
figcaption{
    margin-top:1em;
   color: white;
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:  1rem;
    text-align: center;
}
/* 
figcaption a{
    
} */

.JamesTurrell{
    width: 1200px;
  height: 1000px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  
  

}

 .JamesTurrell:hover{
transition: .5s;
filter:drop-shadow(0 5px 25px #4b05cd);

}

#border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%; 
    border: 6px solid rgb(255, 65, 144);
    filter:drop-shadow(0 5px 15px #ff61da);
    background-color: #602bf2;
    -webkit-box-shadow: inset 0 0 90px 110px rgb(189, 13, 163);
    
  }

#box1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32%;
    height: 32%; 
    border: 2px solid rgb(170, 79, 255);
    opacity: 35%;
    filter:drop-shadow(0 5px 25px #120ef8);
    background: repeating-radial-gradient( #7d10ac,#4a29dc);
    -webkit-box-shadow: inset 0 0 90px 110px rgb(103, 37, 93);
    box-shadow: inset 0 0 40px 20px rgb(76, 0, 255);
    
    
  }

 #box2{
    position: absolute;
    top: 50%;
    left: 44.9%;
    transform: translate(-50%, -50%);
    border-bottom: 40px solid transparent;
	border-Top: 30px solid transparent;
    border-left: 260px solid #7b16e0;
    height: 310px;
    filter:blur(10px)

}


#box2border{
    position: absolute;
    top: 50%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    border-bottom: 30px solid transparent;
	border-Top: 30px solid transparent;
    border-left: 300px solid #ffaff4;
    height: 320px;
    opacity: 30%;
    filter: blur(6px)
  

}

#box2shadowborder{
    position: absolute;
    top: 50%;
    left: 45.5%;
    transform: translate(-50%, -50%);
    border-bottom: 30px solid transparent;
	border-Top: 30px solid transparent;
    border-left: 280px solid #3270f6;
    height: 320px;
    opacity: 40%;
    filter: blur(6px)
  

}



 #box3{
    position: absolute;
    top: 50%;
    left: 38.3%;
    transform: translate(-50%, -50%);
    border-bottom: 50px solid transparent;
	border-Top: 50px solid transparent;
    border-left: 100px solid #3d5aff;
    height: 310px;
    opacity: 70%;
    filter:blur(18px)

} 



