@import url('https://use.typekit.net/jmn3xoz.css');

html{
    background-color:rgb(247, 55, 87);
    margin-top: 0% ;
    }

    h1 {
     font-family: "brother-1816", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: rgb(255, 255, 255)

}

h2{
    font-family: "brother-1816", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 100px;
color: rgb(255, 255, 255);
}