

html{
   background-color: #f8eace;

}


    
h1{
    font-family: "hellofont-id-shouxietongzhen", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 250px;
   line-height: 30px;
}

h2{
    font-family:'Zen Kaku Gothic New', sans-serif;
}

.japanesetitle {
font-family: "ab-kazunaun-f", sans-serif;
font-weight: 400;
font-style: normal;
color:#927639;
font-size:100px
}

.in {
    transform: skew(25deg, 20deg);
    filter: blur(8px);
    color:#675631;
    opacity: 95%;
    text-shadow:0 5px 15px #675631
}
.Praise {
    transform: skew(25deg, 20deg);
    filter: blur(8px);
    color:#675631;
    opacity: 95%;
    text-shadow:0 5px 15px #675631
}

.of{
    transform: skew(25deg, 20deg);
    filter: blur(8px);
    color:#675631;
    opacity: 95%;
    text-shadow:0 5px 15px #675631
}

.shadows{
    transform: skew(25deg, 20deg);
    filter: blur(8px);
    color:#675631;
    opacity: 95%;
    text-shadow:0 5px 15px #675631
}

.rotate{
    transform: rotate(-20deg);
    margin-left:180px;
    margin: auto;
  width: 50%;
  padding: 10px;
}

.author{
    font-family: "hellofont-id-shouxietongzhen", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 20px;
   line-height: 30px;
}