:root{
    --spacing: 20px

}

@media (min-width:600px){
    :root{
        --spacing: 32px
    }
}

body{
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px min-content 1fr min-content;
    min-height: 100vh;
}

header{
    background-color:green
}

h1{
    font-size:200%;
}

aside{
    background-color: rgb(43, 137, 226);
}

footer{
    background-color: yellowgreen;
}

.inset{

}