@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

:root{

--top: 0;
--left: 0;
--position: fixed;
--z-index: 999;
--pointer-events: none;
}

html{
    background-color: #000000;
}
.home {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0%;
    background-image: url(rathomepage3.gif);
    background-size: cover;
    
  }


  .content {
    position: relative;
    top: 100%;
    width: 100%;
    height: 400vh;
    background-image: url(asphalt.png);
    /* opacity:30% ; */
    display: block;
    background-size: contain;
    background-position: center;
    justify-content: center;
    /* background-repeat: no-repeat; */
    margin: 0 auto;
padding-top: 15vh;
  }

  #info{
    position: relative;
    /* padding: 10vh; */
    font-size: 3vh;
    text-align: center;
    justify-items: center;
    max-width: 56ch;
    opacity: 100%!important;
    display: block;
    justify-content: center;
    margin: 0 auto;
  }

.graph{
    position: relative;
    margin: 0 auto;
    justify-content: center;
    display: block;
    align-items: center;
    align-content: center;
}

  .circle {
    background-image: url(ratgraph2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    margin: 5px; /* Add margin between circles for spacing */
    opacity: 1;
  }

  
  .circle-container {
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
    opacity: 1;
  }

  .backDoor
{
    background-image: url(rat-in-hole.png);
    background-size: cover;
    background-position: center;
    position:absolute;
    top:7.2vh;
    left:85%;
    width:139px;
    height:139px;
    filter: drop-shadow(0 5px 15px #ffffff);

}
  
.backDoor a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

.door
{
    border-color:  #242424;
    border-style:solid;
    border-width: .5vh;
    background-image: url(sewercover.png);
    background-size: cover;
    background-position: center;
  position:absolute;
  top:7vh;
  left:85%;
  border-radius: 50%;
  width:150px;
  height:150px;
  transform-origin: right;
  transition: all 0.7s ease-in-out;
}


  

.doorOpen {
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}


.door:hover {
    cursor: pointer;
  }

  
.about{
    background-color: #3d3d3d;
    border-color: #ffffff;
    border-style: solid;
    border-width: .7vh;
    padding: .2vh 3vh;
    font-size: 4vh;
    color:  #ffffff;
    position: absolute;
    border-radius: 25% / 50%;
    margin-left: 10vh;
    margin-top: 9vh;
}



.about:hover {
    cursor: pointer;
  }

.opendata{
    background-color: #3d3d3d;
    border-color:  #ffffff;
    border-style: solid;
    border-width: .7vh;
    padding: .2vh 3vh;
    font-size: 4vh;
    color:  #ffffff;
    position: absolute;
    border-radius: 17% / 50%;
    margin-left: 30vh;
    margin-top:9vh;
    
}

.opendata:hover {
    cursor: pointer;
  }

  .opendata a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
.city{
    position: absolute;
    display: block;
    padding: 10vh;
    margin-top: 40vh;
    width: 90%; /* set the width instead of size */
    left: 50%; /* add this to horizontally center the element */
    transform: translateX(-50%); /* add this to center the element */
    filter: drop-shadow(0 7px 20px #000000);

}


#ratgif1 {
        animation: fly 8s linear infinite;
        top: var(--top);
        left: var(--left);
        position: var(--position);
        z-index: var(--z-index);
        pointer-events: var(--pointer-events);
        filter: drop-shadow(0 7px 20px #000000);
       
    }
    @keyframes fly {
        0%{
            transform: translate(0,0);opacity: 1;
        }
        100%{
            transform: translate(100vw,50vh);opacity: 1;
        }
      
}

#ratgif2 {
    animation: fly-2 5s linear infinite;
    top: var(--top);
    left: var(--left);
    position: var(--position);
    z-index: var(--z-index);
    pointer-events: var(--pointer-events);
    filter: drop-shadow(0 7px 20px #000000);
    
}

@keyframes fly-2 {
    0%{
        transform: translate(110vw,0vh);opacity: 1;
    }
    100%{
        transform: translate(0,60vh);opacity: 1;
    }
}

#ratgif3 {
    animation: fly-3 4s linear infinite;
    top: var(--top);
    left: var(--left);
    position: var(--position);
    z-index: var(--z-index);
    pointer-events: var(--pointer-events);
    filter: drop-shadow(0 7px 20px #000000)
}
@keyframes fly-3 {
    0%{
        transform: translate(0,80vh);opacity: 1;
    }
    100%{
        transform: translate(100vw,80vh);opacity: 1;
    }
}


#ratgif4 {
    animation: fly-4 3s linear infinite;
    top: var(--top);
    left: var(--left);
    position: var(--position);
    z-index: var(--z-index);
    pointer-events: var(--pointer-events);
    filter: drop-shadow(0 7px 20px #000000)
}
@keyframes fly-4 {
    0%{
        transform: translate(90vw,60vh);opacity: 1;
    }
    100%{
        transform: translate(0vw,30vh);opacity: 1;
    }
}


#ratgif5 {
    animation: fly-5 6s linear infinite;
    top: var(--top);
    left: var(--left);
    position: var(--position);
    z-index: var(--z-index);
    pointer-events: var(--pointer-events);
    filter: drop-shadow(0 7px 20px #000000)
}
@keyframes fly-5 {
    0%{
        transform: translate(100vw,0vh);opacity: 1;
    }
    100%{
        transform: translate(0vw,0vh);opacity: 1;
    }
}
body {
    height: 500vh;
    color:#eee;
    font-weight: 300;
    font-family: 'Darumadrop One', cursive;
    
}

h1 {
    position: absolute;
    font-size: 20vh;
    font-weight: bold;
    font-family: 'Darumadrop One', cursive;
    margin-top: 30vh;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}



h2 {
   
    position: absolute;
    font-size: 8vh;
    font-weight: bold;
    font-family: 'Darumadrop One', cursive;
    margin-top: 30vh;
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

h3 {
   
    position: relative;
    font-size: 8vh;
    font-weight: bold;
    font-family: 'Darumadrop One', cursive;
    white-space: nowrap;
    margin-top: 0;
    left: 50%;
    color:#3d3d3d;
    transform: translateX(-50%);
    text-align: center;
    padding: 5vh;
    -webkit-text-stroke: .5px rgb(255, 255, 255);
}

h4 {
   
    position: relative;
    font-size: 4vh;
    font-weight: bold;
    font-family: 'Darumadrop One', cursive;
    white-space: nowrap;
    margin-top: 0;
    left: 50%;
    color:#050505;
    transform: translateX(-50%);
    text-align: center;
    padding: 5vh;
    -webkit-text-stroke: .5px rgb(147, 147, 147);
}



label { opacity: 50%; }

select,
ul {
    border-radius: calc(var(--spacing) / 4);
}

select {
    margin-left: calc(var(--spacing) / 4);
    padding: calc(var(--spacing) / 4);
    text-align: center;
    width: fit-content;
}

#graph {
    /* Add up the individual counts, from the JS. */
    --total: calc(var(--brooklyn) + var(--manhattan) + var(--bronx) + var(--queens) + var(--statenisland)) + var(--unspecified) + var(--novalue);
margin-top: 40vh;
    display: flex;
    height: 80vh;
    overflow: hidden;
}




#graph2 {
    /* Add up the individual counts, from the JS. */
    --total: calc(var(--brooklyn) + var(--manhattan) + var(--bronx) + var(--queens) + var(--statenisland) + var(--unspecified) + var(--novalue));
    
    display: flex;
    flex-direction: column; /* Set the flex direction to column */
    justify-content: flex-end; /* Align items to the bottom */
    height: 100vh;
    overflow: hidden;
}

/* Ease the heights, when we change via dropdown. */
#graph2 li {
    transition: height 1s ease-in-out;
    height: 5vw; /* Set the width to 5vw */
    border-bottom: 25px rgb(0, 0, 0); /* Use border-bottom instead of border-right */
}

#graph2 li:hover::after {
    content: attr(data-count);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 10px;
}

#graph2 .brooklyn { width: calc(var(--brooklyn) / 85 * 1px); } /* Use width instead of height */
#graph2 .manhattan { width: calc(var(--manhattan) / 85 * 1px); } /* Use width instead of height */
#graph2 .bronx { width: calc(var(--bronx) / 85 * 1px); } /* Use width instead of height */
#graph2 .queens { width: calc(var(--queens) / 85 * .5px); } /* Use width instead of height */
#graph2 .statenisland { width: calc(var(--statenisland) / 85 * 1px); } /* Use width instead of height */
#graph2 .unspecified { width: calc(var(--unspecified) / 85 * 1px); } /* Use width instead of height */
#graph2 .novalue { width: calc(var(--novalue) / 85 * 1px); } /* Use width instead of height */

.brooklyn { background-color: rgb(105, 23, 23); }
.manhattan { background-color: rgb(71, 70, 82); }
.bronx { background-color: rgb(20, 3, 170) }
.queens { background-color: rgb(175, 175, 43) }
.statenisland { background-color: rgb(8, 137, 14) }
.unspecified { background-color: rgb(123, 20, 83)}
 

@media (max-width: 800px){
    h1 { 
        font-size: 15vh;
        white-space: normal;
        transform: none;
        left: 0%;
   
    }
    .home{
        object-position: left;
    }
}
