@import url('https://use.typekit.net/fhe7gzr.css');

@font-face {
        font-family: "AUTHENTICSans";
        src: url("AUTHENTICSana-90.otf");
	font-weight: 90;

  }

  html{
	background-color: rgb(0, 119, 255);
	cursor: url(‘cursorhand.png’), auto;
}

h1{
    color: white;
	font-family: "fig-sans", sans-serif;
font-weight: bold;
font-style: normal;
font-size: 10vh;
text-align: center;
padding-bottom: 4vh;
padding:6vh ;
}

.summary{
font-family: sans-serif;
color: white;
font-size: 2.5vh;
max-width: 50ch;
padding: 6vh;
padding-bottom: .5vh;



}
.typefaces{
    color: white;
    font-family: "fig-sans", sans-serif;
font-weight: bold;
font-style: normal;
    font-size: 6vh;
    width:50%;
    padding: 6vh;
    margin-top:10vh;
}

.figsans{
    color: rgb(0, 104, 55);
    font-family: "fig-sans", sans-serif;
font-weight: bold;
font-style: normal;
    font-size: 8vh;
    padding:6vh;
    margin-top: -9vh;
    text-align: center;
}

.sansserif{
    color: white;
    font-family: sans-serif;
font-weight: bold;
font-style: normal;
    font-size: 8vh;
    text-align: center;

}
#content{
    font-family: sans-serif;
    color: white;
    font-size: 2.5vh;
    max-width: 60ch;
    padding: 6vh;

}

.sketch{
    color: white;
    font-family: "fig-sans", sans-serif;
font-weight: bold;
font-style: normal;
    font-size: 6vh;
    width:50%;
    position: absolute;
    margin-top: -50vh;
    margin-left: 100vh ;
}

.homeclosed{
    color: white;
    font-family: "fig-sans", sans-serif;
font-weight: bold;
font-style: normal;
    font-size: 6vh;
    width:60%;
    padding:6vh;
    margin-top: 10vh;
}


.hand{
    width:60%;
    padding:6vh;

}

.home{
    width:52%;
    padding:6vh;

}

.info{
    width:52%;
    padding:6vh;
    position: absolute;
    margin-top: -59.5vh;
    margin-left: 83vh;

}

.homephone{
    color: white;
    font-family: "fig-sans", sans-serif;
font-weight: bold;
font-style: normal;
    font-size: 6vh;
    padding: 6vh;
    width:45%;
}

.infophone{
    position: absolute;
    width:45%;
    padding:6vh;
    position: absolute;
    margin-top: -117vh;
    margin-left: 95vh;
}



