@import url('https://use.typekit.net/fhe7gzr.css');

/* Just to make the demo easier to work with. */

:root {
	--spacing: 1em;
}

html{
	/* background-color: rgb(0, 119, 255); */
	/* background-image: url(webopencab.png);
	background-size: fit;
    background-repeat: no-repeat; */
}

body {
	font-family: sans-serif;
	padding: var(--spacing);
	padding-bottom: 33vh;

}

aside { margin-bottom: calc(4 * var(--spacing)); }

h1 { font-size: 200%; }

h2 { font-weight: bold; }


ul {
	display: grid;
	/* gap: calc(4 * var(--spacing));
	margin-top: calc(4 * var(--spacing)); */
	grid-template-columns: auto auto auto auto auto;
}

li {
	display: grid;
		text-align: center;

		

}

p{


	
}

#img{
	width: 17vw;
	column-gap: -20vw;
	opacity: 100%;
}
/* #img:hover, #p:active {
	background-color: gray;
  } */

/* img:hover .p{
	opacity: 1;
} */

#name{
	color:red;
	font-family: "fig-sans", sans-serif;
font-weight: bold;
font-style: normal;
}

svg{
	max-width: 100vw;
	max-height: 100vh;
	position: absolute;
	z-index: -1;
}

.info{
	display: none;
}

.visible{
	display: inline-block;

}

.mug{
	z-index: 1;
}