@import url('https://use.typekit.net/fhe7gzr.css');

@font-face {
	font-family: AUTHENTICSans;
	src: url('AUTHENTICSans.otf') format('otf');
	font-weight: 90;

  }
html{
	background-color: rgb(0, 119, 255);
	cursor: url(‘cursorhand.png’), auto;
}

body {
	font-family: sans-serif;
	padding: var(--spacing);
	padding-bottom: 33vh;

}

body{
	cursor: url(‘cursorhand.png’), auto;
}

aside { margin-bottom: calc(4 * var(--spacing)); }

h1 { font-size: 200%; }

h2 { font-weight: bold; }


ul {
	display: grid;
	gap: -30em;
	margin-top: 3.5vw;
	grid-template-columns: 10vw 10vw 25vw 10vw auto;
grid-template-rows: 13vw 13vw 15vw ;
justify-content: center;
position:relative;
text-align: center;
}


#name{
	color:rgb(0, 104, 55);
	font-family: "fig-sans", sans-serif;
font-weight: bold;
font-style: normal;
font-size: 4vh
}

#title{
	color:rgb(0, 104, 55);
	font-family: "fig-sans", sans-serif;
font-weight: bold;
font-style: normal;
font-size: 2.5vh
}

svg{
	position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: -1;
	
}

.info{
	display: none;
	width: 90%;
	height: 75%;
	position: fixed;
	background-image: url(background.png);
	background-size: cover;
    background-repeat: repeat; 
	/* border-radius: 100px; */
	padding: 7vw;
	left:50%;
	top:50%;
	align-items: center;
	justify-content: center;
	z-index: 4;
	transform: translate(-50%, -50%);

}

.visible{
	display: inline-block;

}

.mug{
	z-index: 1;
	border-width: 1vh;
	border-color: red;
	width: 10vw;
	column-gap: 100vw;
	opacity: 100%;
	row-gap: -100vh;
	
	
}


.close{
	display:block;
	margin-top: -50vh;
	margin-left: -2vw;
	text-align: left;
	/* margin-left: 2vw;
	margin-top: 3vh; */
	justify-content: left;
	transform: translate(-50%, -50%);
}

.popup{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position:relative;
	text-align: center;
	margin-top:20vh;
	top:0%;
	transform: translate(0%, -50%);
}

.thumbnail{
	width: 45%;
	margin-left: 3vw;
	top:0;
	margin-right:0;
	
}

.information{
	top:0;
	background-color: white;
	border-radius: 50px;
	padding: 2vw;
	display:block;
	width: 75%;
	margin-left: 10vw;
}

@media (max-width: 600px){

html{
	background-image: url(phoneshelf.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

svg{
	opacity: 0;
}
ul {
	display: grid;
	gap: -30em;
	margin-top: 21vw;
	grid-template-columns: 13vw 33vw 20vw 20vw;
grid-template-rows: 30vw 30vw 35vw 10vw;
justify-content: center;
position:relative;
text-align: center;
}

.mug{
	width: 20vw;

}
.close{
	display:block;
	margin-top: -60vh;
	margin-left: -2vw;
	text-align: left;
	/* margin-left: 2vw;
	margin-top: 3vh; */
	justify-content: left;
	transform: translate(-50%, -50%);
	

}

.popup{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position:relative;
	text-align: center;
	margin-top:30vh;
	top:0%;
	transform: translate(0%, -50%);
}

.thumbnail{
	width: 75%;
	margin-left: 3vw;
	top:0;
	margin-right:0;
	
}

.information{
	top:0;
	background-color: white;
	border-radius: 50px;
	padding: 2vw;
	display:block;
	width: 105%;
	margin-left: 10vw;
}
}