@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Montserrat:wght@400;500&display=swap');


body {
    color: red; 
    font-family: IBM Plex Mono, monospace;

}
    
h3 {
    color:blue;
    font-family: Montserrat, sans-serif;
}
